
@import "../../common/base.scss";

body{
  font-family: 'Average', serif;
}
h2{
  font-size: 2rem;
  text-align: center;
  margin: 5rem auto;
}
/*======================================================================================================================

  ヘッダー

======================================================================================================================*/
header{

  border-top:3px solid #00e7c0;
  padding-top: 25px;

  h1{
    font-size: 32px;
    text-align: center;
    
    a {
      text-decoration: none;
      color:  inherit;
    }
    
    @include sp{
      margin-top: 60px;
    }
  }

  #headerMenu{

    margin-top: 40px;
    text-align: center;
    font-size: 0;

    display: flex;
    justify-content: center;

    li{
      font-size: 22px;
      margin-left: 90px;

      &:first-child{
        margin-left: 0;
      }

      a{
        text-decoration: none;
        display: block;
        color:#000;
        padding-bottom: 5px;
        border-bottom:3px solid #fff;
        
        
        @include sp{
          font-size: 1rem;
        }

        transition: all 0.3s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover{

          border-bottom:3px solid #00e7c0;

        }

      }

    }

  }

  #headerSns{

    width: 93%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    
    @include sp{
      width:100%;
    }
    
    li{

      margin: auto 0 auto 10px;

      a{
        

        &:hover{
          opacity: .8;
        }
        
        img{
          transform: scale(.8);
          @include sp{
            height: 20px;
            width:auto;
          }
        }

      }

    }

  }
}
/*======================================================================================================================

  コンテンツ

======================================================================================================================*/
article{

  #siteThums{

    width:93%;
    max-width: 1200px;

    margin: 30px auto;
    text-align: center;
    
    @include sp{
      margin: 60px auto;
      width:100%;
    }

    .siteThum{

      margin-bottom: 30px;
      
      @include sp{
        margin-bottom: 80px;
      }

      a{

        display: block;
        text-decoration: none;
        margin: auto;
        font-size: 0;

        .siteThumLogo {
          width: 173px;
          height: 176px;
          display: inline-block;
          vertical-align: top;
          transition: background-color 0.5s;
        }

        .scrollPic{
          width: 910px;
          height: 175px;
          display: inline-block;
          vertical-align: top;
          position: relative;
          
          @include sp{
            width:100%;
          }

          img{
            position: absolute;
            opacity: 0;
            transform:scaleX(0.8);
            transition: all 0.5s;
          }
        }

        &:hover{

          .siteThumLogo{

            background-color: #00e7c0;

          }

          .scrollPic{

            img{
              transform:scale(1);
              opacity: 1;
            }

          }

        }

      }

    }

    #siteThum1{
      a{

        .siteThumLogo{

          background-image: url(../img/top/siteThum1.png);
          background-repeat: no-repeat;
          background-position: center center;

        }

        .scrollPic{
          background-image: url(../img/top/ThumBg1.jpg);
          background-size: auto 100%;
          animation: bgscroll 32s linear infinite;

          img{
            top:40px;
            left: 90px;
            @include sp{

              top: 36%;
              left: 0;
              max-width: 100%;
            }
          }

        }

        &:hover{

          .siteThumLogo{

            background-image: url(../img/top/siteThum1h.png);

          }

        }

      }

    }
    #siteThum2{
      a{

        .siteThumLogo{

          background-image: url(../img/top/siteThum2.png);
          background-repeat: no-repeat;
          background-position: center center;

        }

        .scrollPic{
          background-image: url(../img/top/ThumBg2.jpg);
          background-size: 910px;
          animation: bgscroll 25s linear infinite;

          img{
            top:40px;
            left: 90px;
            @include sp{

              top: 36%;
              left: 0;
              max-width: 100%;
            }
          }

        }

        &:hover{

          .siteThumLogo{

            background-image: url(../img/top/siteThum2h.png);

          }

        }

      }

    }
    #siteThum3{

      a{

        .siteThumLogo{

          background-image: url(../img/top/siteThum3.png);
          background-repeat: no-repeat;
          background-position: center center;


        }

        .scrollPic{
          background-image: url(../img/top/ThumBg3.jpg);
          background-size: 910px;
          background-repeat: repeat-x;
          animation: bgscroll 20s linear infinite;

          vertical-align: middle;

          img{
            top:40px;
            left: 90px;
            
            @include sp{

              top: 36%;
              left: 0;
              max-width: 100%;
            }
          }

        }

        &:hover{

          .siteThumLogo{

            background-image: url(../img/top/siteThum3h.png);

          }

        }

      }

    }


    @keyframes bgscroll {
      0% {background-position: 0 center;}
      100% {background-position: -910px center;}
    }

  }

}
/*======================================================================================================================

  フッター

======================================================================================================================*/
footer{
  text-align: center;
  padding: 20px 0;
}
/*======================================================================================================================

  MAP

======================================================================================================================*/
.if-Gmap{
  width:70%;
  margin: auto auto 6rem auto;
  position: relative;
  @include sp{
    width:97%;
  }
  &:before{
    display: block;
    content: '';
    width:100%;
    padding-top: 62%;
  }
  
  &>iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
/*======================================================================================================================

  about

======================================================================================================================*/
.aboutus {
  width: 50%;
  margin: 5rem auto;
  
  @include sp {
    width:80%;
  }
  
  & > * {
    line-height: 2;
    letter-spacing: .5rem;
  }
  
  h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  &_text {
  }
}