$innr : 1280px;
$innr-w : 1280;
$innr-sub:1152px;
$innr-sub-w:1152;
$base : 1360px;
$base-w : 1360;
$base-w-sp : 748;
$innr-sub-w-sp:686;

//$filter-color : #007082;//#3498db;
$filter-color : rgb(143, 143, 143);//#3498db;
//=======================================================================================================================================
//  
//=======================================================================================================================================
$font−base : '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'Oswald', 'ＭＳ Ｐゴシック', sans-serif;
$font−goth : "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
//=======================================================================================================================================
//  
//=======================================================================================================================================
$font-sp-1 : 24/14*1rem;
$font-sp-2 : 16/14*1rem;

$font-sp-mini : .9rem;
$font-sp-normal : 1rem;
$font-sp-h1 : 2rem;
$font-sp-h2 : 1.2rem;
$font-sp-btn : 1.1rem;
$font-sp-name : 1.3rem;
$font-sp-seq : 1.4rem;
$font-sp-topic : 1.8rem;
$font-sp-txt : 1.1rem;
//=======================================================================================================================================
//  border size
//=======================================================================================================================================
$per1 : 9.75%;
$per2 : 29.875%;
$per3 : 49.875%;
$per4 : 70%;
$per5 : 90%;

$per1_m : 4%;
$per2_m : 27%;
$per3_m : 50%;
$per4_m : 73%;
$per5_m : 96%;
//=======================================================================================================================================
//  device size
//=======================================================================================================================================
$pc-width: 1140px;
$pc-l-width: 1400px;
$tb-width: 768px;
$tb-p-width: 884px;
//=======================================================================================================================================
//  $base-color
//=======================================================================================================================================
$base-color:#f5f8f9;
$base-back-color:#009789;
$chk-color:#009789;
//=======================================================================================================================================
//  color
//=======================================================================================================================================
$gray-dark      : #8894ab;
$gray-middle    : #c1c1c1;
$gray           : #bbbbb9;
$gray-light     : #d7dcdf;
$gray-lighter   : #ebebeb;

$gold           : #b5965a;

$cream          : #f7f7f5;
$cream-deep     : #f2f2ef;
// base color
$red            : #e91e63;//#D23523;
$blue           : #0086d1;
$white          : #fff;
$black          : #030000;
$shadow         : #888;
$green-light    : #ebf6f6;
$green-lighter  : #f0f4f1;
$green-carm     : #e8f2eb;
$green-carm-bold: #ecf4dc;

$clr-eat        : #35afe5;
$clr-event      : #ff8a00;
$clr-everyday   : #e91e63;
$clr-fashion    : #ffd200;
$clr-memories   : #a16afe;
$clr-outdoor    : #0d853e;
$clr-about      : #a5bd26;

$alert          : #ffeb3c;
//=======================================================================================================================================
//  border color
//=======================================================================================================================================
$border-color : $gray-light;
//=======================================================================================================================================
//  text size
//=======================================================================================================================================
/*
$str_normal : 1rem;
$str_small  : .8rem;
$str_smaller: .6rem;
$str_large  : 1.2rem;
$str_larger : 1.4rem;
$str_largere: 1.6rem;
$str_largest: 1.8rem;
$str_huge   : 2.2rem;
*/
$str_smaller: .6rem;
$str_small  : .8rem;
$str_normal : 1rem;
$str_large  : 1.1rem;
$str_larger : 1.2rem;
$str_largere: 1.4rem;
$str_largest: 1.6rem;
$str_huge   : 2.0rem;

$str_ttl    : 2.2rem;
$str_ttl_sp : 1.8rem;
$str_ttl_cap: 1.2rem;
$str_txt    : 1.2rem;
//=======================================================================================================================================
//  margin
//=======================================================================================================================================
$BASE_MARGIN : 8px;
$margin2x    : $BASE_MARGIN * 2;
$margin4x    : $BASE_MARGIN * 4;
//=======================================================================================================================================
//  size
//=======================================================================================================================================
$innr-sp : 93.2%;
/*
$innr-pc    : 1280px;
$innr-tab   : 1280px;
$innr-sp    : 1280px;
*/
//=======================================================================================================================================
//  http://easings.net/ja#easeOutBack
//=======================================================================================================================================
$easeOutBack    : cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutQuint   : cubic-bezier(0.23, 1, 0.32, 1);